@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Donegal+One|Junge&display=swap');

a:link {
    color: rgb(3, 40, 88);
}

a:visited {
    color: whitesmoke;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Donegal One', sans-serif, serif;
    margin-bottom: -15px;
}

body {
    font-family: 'Junge', sans-serif, serif;
}

#face_img {
    max-width: 100%;
    height: auto;
    float: right;
    padding: 20px;

}
#title {
    vertical-align: bottom;
    margin-left: 15px;
    border-radius: 10px;
    padding: 7px;
}


#header {
    color: white;
    background: blue;
    text-align: center;
    padding: 25Spx;
    border-radius: 10px;
}

#footer {
    color: white;
    background: blue;
    text-align: center;
    display: flex;
    padding: 30px;
    border-radius: 10px;
}

#content {
    position:center;
    top:34px;
    background-color: whitesmoke;
    border-radius: 20px;
    max-width: 700px;
    margin: 0 auto; 
}

hr {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #ccc;
}

#leftcolumn{
    min-height:65vh;
    background-color:#161b33; 
    width: 150px;
    float: left;
  }
  #rightcolumn {
    margin-left: 170px;
    padding:60px;
  }