@charset "utf-8";
/* CSS Document */


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Gelasio', serif;
    margin-bottom: -15px;
}
html {
  font-family: 'Gelasio', serif;
  background-color: rgb(48, 41, 41);
}

body {
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
  padding:20px;
}

header {
  text-align: center;
  padding: 20px;
  background-color: rgb(148, 126, 145);
  border-radius: 8px;
}

main {
  display: grid;
  column-gap: 10px;
  padding: 10px;
}

.leftRow {
  float:left;
  background-color: rgb(170, 184, 170);
  border-radius: 15px;
  text-align: center;
  padding: 10px;
}

.midRow {
  float:left;
  background-color: rgb(197, 197, 175);
  text-align: center;
  padding: 10px;
  border-radius: 15px;
}

.rightRow {
  float:left;
  background-color: rgb(147, 147, 172);
  text-align: center;
  padding: 10px;
  border-radius: 15px;
}

footer {
  line-height: 25px;
  text-align: center;
  min-height: 60px;
  background-color: rgb(148, 126, 145);
  border-radius: 8px;
}