
html {
    padding:50px;
}

body {
    font-family: "Ubuntu";
    margin: 0 auto;
    justify-content: center;
    
}

table {
    width:300px;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 6px 6px 15px #628ca6;
    
}

table thead{
    font-size: 25px;
    font-weight: bolder;   
}
table tfoot{
    font-size: 11px;
    font-weight: lighter;
    padding: 5px;
}

td, 
th {
    justify-content: center;
    border: 1px solid gray;
    padding: 10px ;
    text-align: center;
}

th {
    background-color:  #7fb9c2;
    
}

td {
    
    background-color:  #e7ffed;
}

tr:nth-child(even) td {
   background-color: #e7f0ed;
}
.cost {
    background-color: #628ca6;
    color:white;
    font-size: 15px;
    font-weight: 900;
}
