@media only screen and (min-width: 970px) {


  #color {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .fiveday {
    margin-top: 20px;
    margin: 0 auto;
    max-width:420px;
    display:grid;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
  }
  .fiveday div {
    width: 80px;
    height: 100px;
    padding: 5px;
    border: 2px solid;
    background-color: cadetblue;
  }
  .fiveday div img{
    align-content: center;
    width:70%;
  }
  .maindiv figure:hover {
    box-shadow: 0 3px 3px;
  }
  .index {
    width: 100%;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    grid-template-rows: 1fr;
  }
  .index section{
    width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    
  }
  .index section img{
    width:100%
  }
  .index section:nth-child(2) img{
    width:100%;
    order:0;
  }
    

}