@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Donegal+One|Junge&display=swap');

html {
    font-family: 'Junge', sans-serif, serif;
}

* {
    box-sizing: border-box;
  }

  [class*="col-"] {
    float: left;
    padding: 15px;
  }

.header {
    grid-column-gap: 20px;
    background-color: rgb(228, 217, 217);
    max-width: 900px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
}
.main-grid {
    display: grid;
    background-color: rgb(141, 137, 137);
    
    max-width: 900px;
    max-height: 1000px;
    margin: 0 auto;
}
