@media only screen and (min-width:950px) {
    nav li a {
        padding: 8px
    }

    nav {
        font-size: 13pt;
        font-weight: 500
    }

    header {
        font-size: 22pt
    }

    #map {
        padding: 5px;
        margin: 0 auto;
        width: 100%
    }

    .contact {
        font-size: 15pt
    }
}