@media only screen and (min-width: 550px) {
    nav li a {
        padding:8px;
    }

    nav {
        font-size: 13pt;
        font-weight: 500;
       
    }
    .final-pic {
        order: 0
    }

}