@media only screen and (min-width: 550px) {
   
  nav button {
    display: none;
  }

  nav ul.hide {
    justify-content:center;
    display: block;
    display: flex;
  }
    .list{
        order:0;
    }
    .final-pic {
        order: 0;
    }
    
    header {
        font-size: 15pt;
        
    }
    main section {
        grid-template-columns: 1fr 1fr;
    }
    main article {
        display: inline;
        
    
    }
    .weather{
        padding:10px;
    }
    footer {
     
        height: 80px;
       
    }

    .contacts{
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        padding: 10px;
        
    }
    .contact{
        font-size: 13pt;
        
    }
    #map {
        grid-column: 1 / -1;
        width: 100%;
       
    }
    .guides {
        padding:15px;
        width:100%;
    }
    .guides section {
        width:100%;
    }
    .res {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    table{
        font-size: 15pt;
        padding:10px
    }
    table thead, table tbody, table tfoot {
        padding: 13px;
        font-size: 14pt;
    }

    form{
        padding:10px;
        width: 100%;
    }
    form label{
        font-size: 13pt;
        grid-template-columns: 40% 50%;
    }
    .table-div {
        margin-top: 15px;
        width:100%;
    }

}