@charset "utf-8";

* {
    box-sizing: border-box;
}

/*
------------------------------------------
Main Page Formating 
------------------------------------------
*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Gelasio', serif;
}

html {
    font-family: 'Gelasio', serif;
}

/* ---------------------------------------
          Header Css
----------------------------------------*/
header {
    width: 100%;
    height: 100px;
    background-color: #887568;
}

header h1 {
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 14pt;
}

header h3 {
    text-align: center;
    margin: 0;
    padding: 0;
}






body {
    background-color: #EEEEEE;
    font-family: "Gelasio";

}

main {
    margin: 0 auto;
    max-width: 800px;
    height: auto;
    display: grid;
    grid-gap: 10px;
    padding: 5px;

}

main article {
    width: 100%;

}

main article img {
    width: 100%;

}

main section {
    width: 100%;
    justify-content: center;
    display: inline-grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 10px;
    margin-bottom: 10px;
}

main section div {
    width: 100%;
    height: auto;
    /*do not add padding causes map issues */
}
.text-1{
    margin-bottom: 15px;
}

main section div h3 {
    margin: 10px;
    padding: 5px;
}

.weather {
    background-color: #698cc4;
    color: honeydew;
    text-align: center;
    justify-content: center;
    width: 100%;
    border: 3px solid grey;
}

.weather-text {
    text-align: center;
}

.weather-forcast {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.fd-day {
    border: 2px solid gray;
    justify-content: center;
    min-width: 100px;
    width: 100px;
    height: 130px;
    margin: 5px;
    padding: 5px;
    box-shadow: 2px 2px 10px gray;
    background-color: rgb(78, 95, 128);
}
.title {
    padding:5px;
}

.fd-day img {
    margin: 0;
    width: 70%;
    padding: 0;
}

.fd-day h3 {
    font-size: 12pt;
    margin: 0;
    padding:0;
    width: 100%;
    text-align: center;

}

.fd-day p {
    width: 100%;
    text-align: center;
    width: 90%;
    margin: 0;
}

main section div img {
    width: 100%;
}

#map {
    display: block;
    width: 100%;
    height: auto;
    border: 3px solid grey;
}



footer {
    align-content: center;
    font-size: 15pt;
    padding: 10px;
    text-align: center;
    width: 100%;
    height: 80px;
    background-color: #887568;
}

/* ----------------------------------------
              Navigation Menu
------------------------------------------*/

nav {
    background-color: #bdb4a8;
    font-family: Verdana, sans-serif;
    box-shadow: 0 3px 3px;
}

nav ul {
    align-items: center;
    display: flex;
    max-width: 100px;

    list-style-type: none;
    margin: 0 auto;
    max-width: 700px;
    height: 30px;
    padding: 0;
    text-align: center;

}

nav ul li {
    flex: 1 1;

}

nav li a {
    text-decoration: none;
    color: #062658;
    padding: 8px;
}

nav a:hover {
    background-color: rgb(180, 113, 101);
}

nav .active {
    padding: 8px;
    background-color: rgb(180, 113, 101);
    border-radius: 5px;
}
/*--------------------------------------------------------
            TEST CODE
--------------------------------------------------------*/
.specials {
    background: tomato;
    width: 50px;
    height: 50px;
    position: relative;
    
  }
  .specials h3{
      margin-left: 60px;
  }
.specials:before,
.specials:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background: tomato;
  }
  .specials:before {
    transform: rotate(30deg);
  }
  .specials:after {
    transform: rotate(60deg);
  }